# LLM Provider
GROQ_API_KEY=your_groq_api_key

# Embeddings
EMBEDDING_MODEL=intfloat/multilingual-e5-large

# Vector DB
VECTOR_DB=Pinecone

# Whisper
WHISPER_MODEL=large-v3

# OCR
OCR_ENGINE=easyocr

# Memory storage
MEMORY_DB=Neon db
