fastapi
uvicorn
python-dotenv

groq

pinecone

sentence-transformers

easyocr
opencv-python
torch
torchvision

sympy
numpy
pandas

psycopg2-binary
sqlalchemy

streamlit
requests

python-multipart
pydantic

tqdm

python-docx
pymupdf